<div class="container">
<h3>Tracks#index</h3>
<p>Find me in app/views/tracks/index.html.erb</p>

<%= form_tag("/track", method: "get") do %>
  <%= text_field_tag(:tracking_number) %>
  <%= submit_tag("Go") %>
<% end %>
<h4>My Tracking Number: <%=params[:tracking_number]%></h4>
<iframe style="margin-left: -40px;" src="http://track.aftership.com/<%=params[:tracking_number]%>" width="98%" height="800px" frameborder="0"scrolling="no" ></iframe>
</div>
