<div class="internal-fold">
<div class="container">
  <div class="user-hello">
    <% if current_user %>
    <p class="user-hello-copy"><span><strong>Hello</strong>, <%= current_user.name %>, welcome back! </span>
    <span class="time-clock pull-right"><span class="glyphicon glyphicon-time"></span> <%=Time.now.strftime("%A %B %d %Y") %></span></p>
    <%end%>
  </div>
  <div class="col-xs-6">
  <h3>Ship or track</h3>
  <%= link_to 'New Shipment', new_shipment_path %> Or <%= link_to 'Track Shipment', tracks_path %>
  <%=@shipments.inspect%>
  </div>
  <div class="col-xs-6">
  <div class="pull-right">
  <h4><span class="glyphicon glyphicon-map-marker"></span> <span><strong> <%= @city %></strong></span></h4>
  <p class="temp"><%=@weather['currently']['temperature'].floor %><sup class="sup">&deg; | F</sup></p>
  <p class="summary"><%=@weather['currently']['summary'] %></p>
</div>
</div>
</div>
</div>
